@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333333;
}

.container {
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  padding: 50px 35px;
  background-color: #f0f0f0;
}

.text-center {
  text-align: center;
}

.font-weight-light {
  font-weight: 100;
}

.big-text {
  font-size: 3rem;
}
