body {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  color: #333;
  background-color: #f4f4f4;
  border: 2px solid #e4e4e4;
}

header {
  margin-bottom: 25px;
  padding: 5px 25px;
}

main {
  margin-top: 15px;
  padding: 10px 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  padding-right: 10px;
  color: #333;
}

a:hover {
  color: #00ffff;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 20px;
}

.semantic-border {
  border: 2px solid rgb(33, 231, 221);
}

.navbar li {
  display: inline;
}

.extreme-head {
  font-size: 32px;
  color: rgb(3, 136, 129);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
}

.lead {
  font-size: 20px;
  font-weight: 800;
  color: rgb(0, 100, 95);
}

.small {
  font-size: 11px;
}

footer {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  color: #999;
}
