@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #c3cfe2;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin: 50px;
  text-align: center;
}

/* TESTIMONIAL */

.testimonial {
  max-width: 400px;
  height: auto;
  margin: 15px auto;
  border-radius: 20px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
  position: relative;

  &__text-container {
    height: 350px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
  }

  &__text-content {
    &__text {
      color: #333;
      font-size: 20px;
      padding: 25px 40px 0 40px;
      line-height: 1.5;
    }
  }

  &__img {
    width: 40%;
    height: auto;
    border: 8px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
  }

  &__footer-container {
    height: 200px;
    border-radius: 0 0 20px 20px;
    background-color: #686de0;
    position: relative;
  }

  &__footer-content {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);

    &__heading {
      text-align: center;
      font-weight: 400;
      margin-bottom: 10px;
    }

    &__text {
      text-align: center;
      color: #aaaee9;
    }
  }
}
