@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 20px auto;
}

.btn {
  margin: 40px 10px;
  padding: 10px 25px;
  border-radius: 10px;
}
